<ul class="nav navbar-nav">
  <li><h2>Look & Cook</h2></li>
  <li routerLinkActive="active"><a routerLink="MyRecipe">Mes recette</a></li>
  <li routerLinkActive="active"><a routerLink="MyFridge">Mon frigo</a></li>

  <li routerLinkActive="active"><a routerLink="FindRecipe">Trouver une recette</a></li>
  <li routerLinkActive="active"><a routerLink="CreateRecipe">Créer une recette</a></li>

  <li routerLinkActive="active"><a routerLink="SubscribePage">S'inscrire</a></li>
  <li routerLinkActive="active"><a routerLink="LogIn">Login</a></li>
</ul>
<div><router-outlet></router-outlet></div>
