<p>&nbsp;</p>
<p>&nbsp;</p>

<div class="container">
  <div class="panel panel-default"><div class="panel-body">
<h1 style="text-align: center;">Trouver une recette</h1>
<p>&nbsp;</p>
<p>&nbsp;</p>

<p>Nom de la recette:<br />
  <input type="text" class="form-control" [(ngModel)]="recipename">

  <br />Nombre de personnes:<br />
  <input type="text" class="form-control" [(ngModel)]="personnumber">

  <br />

Temps de pr&eacute;paration:
  <br /> <input type="text" class="form-control" [(ngModel)]="preptime">

  <br />Note:<br />
  <input type="text" class="form-control" [(ngModel)]="ratinggrade">
</p>


<button class="btn button-success" (click)="searchButton()">Rechercher recette</button>
</div>
</div>
</div>

<div class="container">
  <div class="panel panel-default"><div class="panel-body">
<div>&nbsp;</div>
<div>&nbsp;</div>
<p>Listes des recettes qui satisfont ces exigences:</p>

<app-listrecipe [listrecipe]="searched_recipe_" [modefavourite]=true [modedeletefromfavourite]=true [modepublish]=true></app-listrecipe>
</div>
</div>
</div>



<p>----------------------</p>
<p>Nom recette: {{getRecipeName()}}</p>
<p>Durée préparation {{getPreparationTime()}}</p>
<p>Note: {{getRating()}}</p>
<p>Nombre personnes {{getPersonNumber()}}</p>
<p>----------------------</p>
