<p>&nbsp;</p>
<p>&nbsp;</p>
<!-- <h1 style="color:orange; text-align: center;">Look&Cook</h1>
<p>&nbsp;</p>
<p>&nbsp;</p>  -->
<h1 style="color:orange; text-align: center;">Se connecter</h1>

<p>&nbsp;</p>
<p>&nbsp;</p>


<p style="text-align: center;">
  <label for="fname">Nom d'utilisateur:</label>
  <br />
  <input width="30px" type="text" class="form-control" [(ngModel)]="username">
  <br />
  <label for="lname">Mot de passe:</label>
  <br />
  <input width="5px" type="password" class="form-control" [(ngModel)]="password">
  <br />
  <br />
  <button class="btn button-success" (click)="loginPressed()">login</button>
  </p>





<p style="text-align: center;">&nbsp;</p>
<p>&nbsp;</p>
<p style="text-align: center;">Pas encore de compte?</p>
<p style="text-align: center;"><a title="forgotten_password_" href="____________">Mot de passe oubli&eacute;?</a></p>
<p style="text-align: center;"><a title="forgotten_password_" href="____________">S'inscrire.</a></p>


<p>----------------------</p>
<p>Nom d'utilisateur entré: {{getUsername()}}</p>
<p>Mot de passe: {{getPassword()}}</p>
<p>----------------------</p>
