<p>&nbsp;</p>
<p>&nbsp;</p>

<div class="container">
  <div class="panel panel-default"><div class="panel-body">
<h1 style="text-align: center;">Nouvelle recette</h1>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Nom de la recette:<br />
  <input type="text" class="form-control" [(ngModel)]="recipename">


  <input type="file" (change)="handleUpload($event)">
  <img src="{{this.im}}" height="200" alt="Aperçu de l’image...">


  <br />Nombre de personnes:<br />
  <input type="text" class="form-control" [(ngModel)]="personnumber">

  <br />

Temps de pr&eacute;paration:
  <br /> <input type="text" class="form-control" [(ngModel)]="preptime">
</p>
</div>
</div>
</div>


<div class="container">
  <div class="panel panel-default"><div class="panel-body">
<h4>Ingrédients de la recette:</h4>
<app-listingredient  [listingredient]="ingredientlist" [iseditable]=true [modeuser]=false></app-listingredient>
</div>
</div>
</div>

<div class="container">
  <div class="panel panel-default"><div class="panel-body">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Préparation:<br />
<textarea rows="8" cols="100" [(ngModel)]="preptext"></textarea>
</p>
<p>Description:<br />
<textarea rows="8" cols="100" [(ngModel)]="descriptiontext"></textarea>
</p>
<p>&nbsp;</p>


  <p><button class="btn button-success" (click)="saveRecipe()">Ajouter à mes recettes</button>


<p>&nbsp;</p>
<p>&nbsp;</p>
</div>
</div>
</div>




<p>----------------------</p>
<p>Nom de la recette: {{getRecipeName()}}</p>
<p>Nombre de personnes: {{getPersonNumber()}}</p>
<p>Temps de préparation: {{getPreparationTime()}}</p>
<p>Préparation: {{getPreparationText()}}</p>
<p>Description: {{getDescriptionText()}}</p>
<p>----------------------</p>
