<!--
<table>
  <tr *ngFor="let recipe of listrecipe  ;let position=index;">
    <td><img src="https://www.wbcsd.org/var/site/storage/images/media/images/fresh_pa/80809-2-eng-GB/FRESH_PA_i1140.jpg" style="width:80px"></td>
    <td><a href="google.com">{{ recipe.name }}</a>  </td>
    <td>{{recipe.grade}}/5</td>
    <td>{{recipe.personnumber }}  personnes</td>
    <td *ngIf=" modedeletefromrecipe=== true"><button class="btn button-success" (click)="deleteRecipe(position,recipe)">Supprimer recette</button></td>

    <td *ngIf=" modedeletefrompublish=== true"><button class="btn button-success" (click)="deletePublish(position,recipe)">Dépublier recette</button></td>


    <td *ngIf=" modedeletefromfavourite=== true"><button class="btn button-success" (click)="deleteFavourite(position,recipe)">Supprimer favori</button></td>
    <td *ngIf=" modepublish=== true"><button class="btn button-success" (click)="addPublish(recipe)">Publier recette</button></td>
    <td *ngIf=" modefavourite=== true"><button class="btn button-success" (click)="addFavourite(recipe)">Ajouter favori</button></td>

  </tr>
<table> 

 <p>&nbsp;</p>
 <p>&nbsp;</p>
 <p>&nbsp;</p>  -->

<div class="row">
  <div class="col-xs-12">
    <h2>Vos Recettes</h2>
    <div class="list-group">
      <button
        class="list-group-item"
        *ngFor="let recipe of listrecipe; let i = index">
        <!--(click)="onViewBook(i)"-->
        <h3 class="list-group-item-heading">
	<img src="https://www.wbcsd.org/var/site/storage/images/media/images/fresh_pa/80809-2-eng-GB/FRESH_PA_i1140.jpg" style="width:80px">

          <a href="google.com">{{ recipe.name }}</a>, 
	 <h5>{{recipe.grade }}/5,{{recipe.personnumber }}  personnes</h5>

          <button class="btn btn-default pull-right"> <!--(click)="onDeleteBook(book)"-->
            <span class="glyphicon glyphicon-minus"></span>
          </button>


	 <button class="btn button-success" (click)="deleteRecipe(i,recipe)">Supprimer recette</button>


	  <button class="btn button-success" (click)="deletePublish(i,recipe)">Dépublier recette</button>


	  <button class="btn button-success" (click)="deleteFavourite(i,recipe)">Supprimer favori</button>


   	<button class="btn button-success" (click)="addPublish(recipe)">Publier recette</button>


    <button class="btn button-success" (click)="addFavourite(recipe)">Ajouter favori</button>


        </h3>
        <p class="list-group-item-text">{{ recipe.personnumber}}</p>
      </button>
    </div>
  </div>
</div>
