<h1 style="text-align: center;">Information recette</h1>



<img [src]="recipeimage" style="width:80px" alt="no image" width=40% height=40%>



<div class="container">
  <div class="panel panel-default"><div class="panel-body">
<p>Nom de la recette:  {{recipename}}<br />
  <br />Nombre de personnes: {{personnumber}}<br />
  <br />
  Temps de pr&eacute;paration: {{preptime}}
  <br />
  <br />
 Instructions: {{preptext}}
  <br /><br />
 Commentaires:  {{commtext}}
  <br />
Note:  {{ratinggrade}}

</p>

</div>
</div>
</div>

<div class="container">
  <div class="panel panel-default"><div class="panel-body">
<h4>Ingrédients de la recette:</h4>
<app-listingredient [listingredient]="ingredientlist" [iseditable]=false [modeadd]=true [modeuser]=false></app-listingredient>
</div>
</div>
</div>


<br />
<input type="text" class="form-control" [(ngModel)]="sendgrade">
<button class="btn button-success" (click)="sendGrade()">Envoyer note</button>
<br />
<textarea rows="8" cols="100" [(ngModel)]="sendcomm"></textarea>
<button class="btn button-success" (click)="sendComment()">Envoyer commentaire</button>
<br /><button class="btn button-success" (click)="modifyRecipe()">Modifier recette</button>
