<p>&nbsp;</p>
<p>&nbsp;</p>
<h2 style="text-align: center;">Fridge to Plate</h2>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h4 style="text-align: center;">Créer un compte:</h4>




<div class="container">
  <div class="panel panel-default"><div class="panel-body">
<p style="text-align: center;">
  <h4>Nom d'utilisateur:</h4>
  <br />
  <input type="text" class="form-control" [(ngModel)]="username">
  <br />
  <h4>Mot de passe:</h4>
  <br />
  <input type="password" class="form-control" [(ngModel)]="password">
  <br />
  <br />
  <button class="btn button-success" (click)="loginPressed()">S'inscrire.</button>
  <p>

</div>
</div>
</div>
<!---->
  <!--<app-databasehttp [textbutton]="'Update List'" [recvaddr]="'https://lookandcookproject.firebaseio.com/users/defaultuser/mypublication.json'"></app-databasehttp>-->
<p>----------------------</p>
<p>Nom d'utilisateur entré: {{getUsername()}}</p>
<p>Mot de passe: {{getPassword()}}</p>
<p>----------------------</p>
